RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

#--------------------------------------------------
# Pages d'erreurs :
#--------------------------------------------------

ErrorDocument 404 /404.php
